*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #39898F;
}

#logo{
    width: 320px;
    height: 150px;
}

.botoesbarracima{
    text-decoration: none;
    position: absolute;
    right: 0%;
    
}